body {
    background-color: white;
}

.center {
    position: relative;
    margin: auto;
}

.nav {
    float: top;
    font-family: sans-serif;
    margin: 10px;
    text-align: right;
    background-color: white;
    border-color: white;
    height: 3rem;
    padding: 1rem;
    margin-top: 0;
    top: -1px;
}

.navLink {
    background-color: cornflowerblue;
    margin: auto 1rem auto 1rem;
    text-decoration: none;
    padding: 1rem;
    color: white;
    position: relative;
    top: 1rem;
    border: 1px solid transparent;
    width: 100%;
}

.formWrapper {
    width: 75%;
    height: 100%;
    margin: auto;
    position: relative;
}

.content {
    background-color: #64B7FF;
    height: 99vh;
    line-height: 4rem;
}

.whitebox {
    background-color: white;
    width: 20rem;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

}

.singupForm {}

.socialLinks {
    width;90%;
    margin: auto;
    position: relative;
    display: block;
}

.formItem {
    padding: 1rem;
    border: 1 solid transparent;
    border-radius: 4px;
    margin: 2rem, auto, 1rem, auto;
}

.titleText {
    font-family: sans-serif;
    font-weight: bold;
}

.badge {
    height: 2rem;
    width: 2rem;
}

.submit {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    padding: 1rem;
    margin: auto;
    position: relative;
}

form{
    width: 100%;
}